<footer class="footer">
    <div class="container">
    
    </div>
    <div class="last-para copyright text-center">
        <div class="container">
            <p class="mb-0">© 2021 www.ecommerce.com. All rights reserved.</p>
        </div>
    </div>
</footer>
